
venv/
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.ini
*.env
*.pth
*.pkl
*.pt
*.ckpt
*.pb
*.h5
*.DS_Store
*.ipynb_checkpoints
*.tmp
*.csv
*.jpg
*.jpeg
*.png
*.pdf
*.zip
*.tar.gz
*.7z
*.exe
*.dll
*.so
*.dylib
